@import "tailwindcss";

html::-webkit-scrollbar {
  display: none;
}

#scroll-container::-webkit-scrollbar{
    display: none;
}

/* 1. Outer Wrapper */
#scroll-container {
  mask-image: linear-gradient(to right, transparent, #000 10%, #000 90%, transparent);
}

#scroll-container:hover #right {
  animation-play-state: paused;
}

/* 2. Targeting the moving track by ID */
#right {

  animation: scrollInfinite 40s linear infinite;
}

/* 3. The Infinite Animation Math */
@keyframes scrollInfinite {
  0% {
    transform: translateX(0);
  }
  100% {
    /* Moves exactly halfway (the length of the first original set) */
    transform: translateX(calc(-1 * (320px + 40px) * 9));
  }
}

#buttons button:hover{
    background-color: rgb(24, 87, 225);
}